body {
  margin: 0px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.banner img {
  width: 100%;
}
/* guideline-container start */
.guideline-container {
  display: flex;
}
.guideline-container span {
  color: #8074de;
  font-weight: bold;
}
.guideline-container article {
  width: 355px;
  line-height: 1.8;
  padding: 17px 0px 0px 65px;
}
.guideline-container section {
  width: calc(100% - 355px);
  padding: 33px 65px 21px 37px;
}
.guideline-container section h1 {
  font-size: 23px;
  color: #607d8b;
  margin: 15px 0px 15px 0px;
  font-family: 'Exo 2', sans-serif;
}
.guideline-container section h3 {
  color: #607d8b;
}
.guideline-container section p {
  font-size: 14px;
  line-height: 1.6;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* guideline-container end */

/* article start */
article ul li {
  list-style: none;
  font-size: 14px;
  margin-left: 23px;
}
xmp {
  margin: 0;
}
article ul {
  background: rgba(175, 169, 169, 0.06);
  border: 1px solid #8080801a;
  padding: 31px 22px 31px 42px;
  position: sticky;
  top: 2rem;
}
article b {
  font-size: 17px;
  font-family: 'Exo 2', sans-serif;
  color: rgba(64, 64, 210, 0.71);
}
article a {
  text-decoration: none;
}
pre {
  padding: 0px 17px 0px 17px;
  background: #80808014;
  color: #d20d0d;
  line-height: 1.5;
  /* overflow-x: scroll; */
}
.author {
  background: #80808014;
  padding: 14px 7px 17px 18px;
  font-size: 14px;
}

/* article end */
/* responsive design start */
@media only screen and (max-width: 768px) {
  .guideline-container section,
  .guideline-container article {
    width: 90%;
  }
  pre {
    overflow-x: scroll;
  }
  .guideline-container {
    flex-direction: column;
  }
  .guideline-container section {
    padding: 0px 20px 21px 20px;
  }
  .guideline-container article {
    padding: 0px 20px 21px 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .guideline-container section {
    padding: 0px 20px 21px 0px;
  }
  .guideline-container article {
    padding: 0px 20px 21px 20px;
  }
  pre {
    overflow-x: scroll;
  }
}
/* responsive design end */
